bin/
gen/*
!doc/gen/
tmp/
doc/bots/local_memento/
bots/local_memento/
vendor/raylib/src/libraylib.a
vendor/libffi/.built
vendor/libffi/*-*-*/
vendor/libffi/Makefile
vendor/libffi/doc/libffi.info
vendor/tinyfiledialogs/tinyfiledialogs.o
vendor/tinyfiledialogs/libtinyfd.a
vendor/tinyfiledialogs/libtinyfd-win64.a
*~
\#*\#
.#*
.claude/