bin/
gen/*
!doc/gen/
tmp/
bots/local_memento/
c_lib/raylib/src/libraylib.a
c_lib/libffi/.built
c_lib/libffi/*-*-*/
c_lib/libffi/Makefile
c_lib/libffi/doc/libffi.info
c_lib/tinyfiledialogs/tinyfiledialogs.o
c_lib/tinyfiledialogs/libtinyfd.a
c_lib/tinyfiledialogs/libtinyfd-win64.a
*~
\#*\#
.#*
.claude/